.main-page.row {
  flex-grow: 1;
}

.main-page .text-column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-page .picture-column {
  display: flex;
  align-items: center;
}

.main-page .text-wrapper h5 {
  margin-bottom: 28px;
}

.main-page .img-wrapper {
  width: 426px;
  height: 386px;
}

.main-page .img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* // Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */