.app {
    /* min-height: 99vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between; */
}

.big-wrapper {
  padding-top: 98px;
  min-height: 100vh;
  /* display: grid; */
  /* grid-template-rows: 90% 10%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

img {
  display: block;
  max-width: 100%;    
}

@media (min-width: 868px) {

  .big-wrapper {
    padding-top: 60px;
  }

}